backend/temp

# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node / Electron
node_modules/
dist/
build/

# Electron
electron/dist/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
